@charset "UTF-8";/* Basic Styles */
body {
  font-family: Roboto, sans-serif;  /* Example font family */
  background-color: #ebeef2;
  color: #555;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* Form Styles */
form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
}

/* Form Field Styles */
form div {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px; /* Example font size */
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
button {
  width: calc(100% - 22px);
  padding: 12px; /* Example padding */
  border: 1px solid #ccc;
  border-radius: 5px; /* Example border radius */
  box-sizing: border-box;
}

input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="date"]:placeholder {
  color: #aaa; /* Placeholder text color */
}

input[type="checkbox"] {
  width: auto;
}

button {
  background-color: #3498db; /* Example button color */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 15px; /* Example button padding */
  font-size: 16px; /* Example button font size */
}

button:hover {
  background-color: #2980b9;
}

/* Title and Horizontal Rule Styles */
h1 {
  text-align: center;
  color: #333;
  font-size: 24px; /* Example title font size */
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

/* Error Handling (example) */
input:focus:invalid {
  border-color: #ff0000; /* Red border for invalid input */
}
